*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    background-color: var(--verydarkBlue);
    color: var(--paleBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/bg-mobile.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

:root {
    --paleBlue: hsl(243, 100%, 93%);
    --grayishBlue: hsl(229, 7%, 55%);
    --darkBlue: hsl(228, 56%, 26%);
    --verydarkBlue: hsl(229, 57%, 11%);
    --lverydarkBlue: hsla(229, 57%, 11%, 0.6);
}

.container {
    width: 90%;
    max-width: 380px;
}

.container > div {
    background-color: var(--darkBlue);
}

.first {
    border-radius: 0.6em 7em 0.6em 0.6em;
    margin-bottom: 2em;
    padding: 2.5em;
}

.first .logo {
    margin-bottom: 2em;
}

.icons {
    width: 70%;
    max-width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--verydarkBlue);
    width: 3em;
    height: 3em;
    border-radius: 0.5em;
}

.seconed {
    position: relative;
    border-radius: 0.6em 0.6em 0.6em 0.6em;
    text-align: center;
    padding: 2em 1em;
    color: var(--paleBlue);
}

.seconed .top {
    font-size: 0.9rem;
    margin-bottom: 1em;
}

.top .bold {
    font-weight: 700;
}

.slide {
    width: 90%;
    margin: auto;
    padding: 0.2em;
    height: 1.5em;
    border-radius: 10em;
    background-color: var(--lverydarkBlue);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.7em;
}

/* hsl(6, 100%, 80%) to hsl(335, 100%, 65%) */

.slide .slide-in {
    width: 75%;
    height: 1em;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 10em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.slide-in .dot {
    margin-right: 0.2em;
    width: 0.7em;
    height: 0.7em;
    background-color: var(--paleBlue);
    border-radius: 100%;
}

.slide-info {
    font-size: 0.8rem;
    font-weight: 700;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.box {
    display: flex;
    align-items: center;
    gap: 0.4em;
    background-color: white;
    color: black;
    width: fit-content;
    padding: 0.7em;
    font-size: 1.5rem;
    border-radius: 0.5em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1.5em;
}

.small {
    font-weight: 700;
    font-size: 0.8rem;
    opacity: 0.6;
}

@media (min-width: 1300px) {
    body {
        background-image: url(images/bg-desktop.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
    }

    .container {
        max-width: 920px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        transform: scale(1.1);
    }

    .first {
        width: 38%;
        margin-bottom: 0;
    }

    .seconed {
        text-align: left;
        width: 58%;
    }

    .seconed .top {
        width: 90%;
        margin: auto;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .seconed .slide-info{
        margin-bottom: 0em;
    }

    .box {
        bottom: 75%;
        left: 75%;
    }
    
    .triangle {
        width: 0; 
        height: 0; 
        border-top: 1em solid transparent;
        border-bottom: 1em solid transparent; 
        border-right:1em solid white;
        position: absolute;
        bottom: -32%;
        left: 84.3%;
    }
}

@media (max-width: 350px) {
    .first {
        padding: 2em;
    } 

    .icon {
        width: 100%;
        max-width: 400px;
    }
}
